@media (max-width: 1024px) {

    :root {
        --header_height: 20rem;
    }

    nav {
        flex-direction: column;
    }

    #titleNav {
        font-size: 5rem;
    }

    .containerTitleNav img {
        width: 5rem;
        height: auto;
    }

    #listButtons {
        gap: 2.5rem;
    }

    #listButtons li a {
        width: 6rem;
        height: 6rem;
    }

    main {
        margin-top: var(--header_height);
    }

    .containerIconButtons {
        flex-direction: column;
    }

    #iconPerf {
        width: 50rem;
        height: 50rem;
    }

    .containerCV {
        gap: 2.5rem;
    }
    
    .containerCV img {
        width: 5rem;
        height: auto;
    }
    
    .containerCV a {
        font-size: 3rem;
    }

    h2 {
        font-size: 4rem;
        border-right: var(--color_blue) 1rem solid;
        padding: 0;
        margin-bottom: 1rem;
    }

    .container {
        margin: 5rem;
    }

    .container p {
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .listLinguages {
        margin: 2.5rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .listLinguages li {
        font-size: 2.5rem;
    }

    .listLinguages li img {
        width: 7rem;
        height: auto;
    }

    #projectsContainer {
        margin-top: 2.5 rem;
        width: 50rem;
    }
    
    #projectsContainer h3 {
        font-size: 3rem;
    }
    
    #projectsContainer p {
        font-size: 2.5rem;
    }

    footer p {
        font-size: 2.5rem;
    }
}